<%= form_for @adjective, :url => adjectives_path(@adjective), :method => "post", :remote => true do |f| %>
  <% if @adjective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adjective.errors.count, "error") %> prohibited this adjective from being saved:</h2>

      <ul>
      <% @adjective.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <%= f.text_field :word, class: "form-control", remote: true %>
      <span class="input-group-btn">
        <button class="btn btn-primary addWordBtn" type="button" data-remote="true">Add!</button>
      </span>
    </div>
  </div>
</div>
<% end %>
