$('#adjective_word').val(null);
$("<li class='list-group-item text-success' style='display:block;'><%= j @adjective.word %></li>").fadeIn('slow').prependTo('.wordsList');
$(".wordsList li:nth-child(2)").removeClass('text-success');