<h1>Listing old_monsters</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @old_monsters.each do |old_monster| %>
      <tr>
        <td><%= link_to 'Show', old_monster %></td>
        <td><%= link_to 'Edit', edit_old_monster_path(old_monster) %></td>
        <td><%= link_to 'Destroy', old_monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Old monster', new_old_monster_path %>
