#Monsters.jumbotron
	%h5 You have created:
	#MyMonster
		%h1#myAdj= @adjective
		%h2#myNoun= @noun

%div.row
	%div
		%button{:type => 'button', :class => 'saveMonster btn btn-large btn-default col-lg-6'} Save
	.col-offset-6
		%button{:type => 'button', :class => 'refreshMonster btn btn-large btn-default col-lg-12'} Refresh

