#Monsters.jumbotron
	%h5 You have created:
	#MyMonster
		%h1#myAdj= @adjective
		%h2#myNoun= @noun



	-# %h2= @mymonster




	-# %h3 There are
	-# =@num_adj
	-# adjectives and
	-# =@num_noun
	-# nouns in the database!

= button_to "Refresh", random_path, :method => :get, :class => 'refreshMonster btn btn-large btn-default', :remote => "true"