/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require jqm-font-awesome
 *= require_tree .
 */

body {
	width: auto;
/*	padding-top: 10px; */
	padding: 1% 2% 2% 2%;
}

/*.navbar {
   background-color: #ffffff;
}*/

.navbar-primary {
	background-color: #428bca;
	color: white;
}

.navbar-primary a {
	color: white;
}

.navbar-primary a {
	color: white;
}

.navbar-primary li {
	color: white;
}

.media-body {
	padding-left: 1.5% !important;
}

.list-group-item {
	padding-top: 5px;
}

.navbar-toggle {
	margin-top: 0px !important;
}


.panel {
	margin-top: 15px;
}

.word-panel {
	border-radius: 0px !important;
}

.addWordBtn {
/*	margin: 3px auto auto 2.5%;
	min-width: 200px;*/
}

.createNewBtns {
	margin-left: 1px !important;
}