/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require font-awesome
 *= require_tree .
 */

body {
	width: auto;
/*	padding-top: 10px; */
	padding: 0% 2% 2% 2%;
}

/*.navbar {
   background-color: #ffffff;
}*/

.navbar-primary {
	background-color: #428bca;
	color: white;
}

.navbar-primary a {
	color: white;
}

.navbar-primary a {
	color: white;
}

.navbar-primary li {
	color: white;
}

.media-body {
	padding-left: 1.5% !important;
}

.list-group-item {
	padding-top: 5px;
}

.navbar-toggle {
	margin-top: 0px !important;
}

.jumbotron {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.refreshMonster {
/*	min-width: 45% !important;*/
/*	margin-left: 12.5% !important;
	margin-right: 12.5% !important;*/
	/*margin-left: 25% !important;
	margin-bottom: 15px !important;*/
}


.panel {
	margin-top: 15px;
}

.word-panel {
	border-radius: 0px !important;
}

.addWordBtn {
/*	margin: 3px auto auto 2.5%;
	min-width: 200px;*/
}

hr {
	margin-top: 4px !important;
	margin-bottom: 8px !important;
}

.createNewBtns {
	margin-left: 1px !important;

}

.createNewBtns span a {
	margin-top: 4px !important;
}

.likeBtn {
	color: #5b94de;
/*	background: grey;*/
	line-height: 28px !important;
	margin-top: -11px !important;
	width: 75px !important;
	vertical-align: middle !important;

}

.likeBtn i {
	margin-top: 11%;
}

.likeBtn:hover {
	background: #4687da;
}

.sortBtns {
	margin: 4px auto 5px auto;
}

i.icon-thumbs-up-alt {
	margin-right: -5px !important;
	margin-top: 16% !important;
}


.createBtn {
	margin-bottom: 5px !important;
}

.pageNums {
	margin-top: 4px !important;
	margin-bottom: 2px !important;
}


.monBadge {
	vertical-align: 150% !important;
	padding-bottom: 5px !important;
}

.monHeader {
	display: inline-block;
}

.badge-outline {
    color: black;
    border: 1px solid #999;
    background-color: transparent;
}

.badge-outline.badge-success {
    border-color: #468847;
}

.badge-info {
    background-color: #5b94de !important;
}

.badge-primary {
	background-color: #7170d1 !important;
}

.badge-danger {
	background-color: #c8607e !important;
}

.saveMonster {
	margin-bottom: 5px !important;
	/*margin-left: 4% !important;*/
}

.btn-text-success {
	color: #81b15c !important;
}
